<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>org.jee.tpjeewrapper.MyFilter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
<!--        Le filter1 intercepte toute requête ayant pour destination /MyServ -->
        <url-pattern>/MyServ</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>org.jee.tpjeewrapper.MyServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <!--        L'URL de servlet est /MyServ -->
        <url-pattern>/MyServ</url-pattern>
    </servlet-mapping>

</web-app>